body {
    text-align:center;
    /* background-color: lightblue !important; */
}
a {
    text-decoration: none !important;
}
nav {
  display: flex;
  background-color: rgba(210,77,87,255);
  font-weight: 800;
}
nav a {
    color: white !important;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
}
nav a:hover {
    background-color: #ddd !important;
    border-radius: 10px;
    color: black !important;
}
.fancy {
  --b: 6px;   /* control the border thickness */
  --w: 80px;  /* control the width of the line*/
  --g: 15px;  /* control the gap */
  --c: #0B486B;
  width: fit-content;
  padding: 0 1em;
  line-height: 1.6em;
  border: 1px solid;
  color: #fff;
  background: 
    conic-gradient(from 45deg at left ,var(--c) 25%,#0000 0) 0,
    conic-gradient(from -135deg at right,var(--c) 25%,#0000 0) 100%;
  background-size: 51% 100%;
  background-origin: border-box;
  background-repeat: no-repeat;
  border-image: 
     linear-gradient(
       #0000      calc(50% - var(--b)/2),
       var(--c) 0 calc(50% + var(--b)/2),
       #0000    0) 
    1/0 var(--w)/calc(var(--w) + var(--g));
  margin-inline: auto;
  --w: 50vw;
  --c: #8A9B0F;
  --b:4px;
  --g:-5px
}
.introducecard {
    position: relative !important;
    max-width : 300px;
    height : 300px !important;  
    background-color : #fff;
    margin : 30px 10px;
    padding : 20px 15px;
    display : flex !important;
    flex-direction : column !important;
    box-shadow : 0 5px 20px rgba(0,0,0,0.5);
    transition : 0.3s ease-in-out;
    border-radius : 15px;
    align-items: center;
}
.introducecard:hover {
    height: 450px !important;
}
.introducecard img {
    height: 500px !important;
    width: 500px !important;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.introducecard .card-body {
    position : relative;
    top : -40px;
    padding : 10px 15px;
    color : #111;
    text-align : center;
    visibility : hidden;
    opacity : 0;
    transition : 0.3s ease-in-out;    
}

.introducecard:hover img {
    height: 200px !important;
    width: 200px !important;
    box-shadow : 0 5px 20px rgba(0,0,0,0.2);
    z-index : 1;
    border-radius : 15px;
}
.introducecard:hover .card-body {
     margin-top : 30px;
     visibility : visible;
     opacity : 1;
     transition-delay: 0.2s; 
}
.introduce {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}
.introduce a {
  text-decoration: none;
  color: #121212;
}
.introduce img {
    height: 200px !important;
    width: 200px !important;
  }
.introduce h2 {
  font-size: 25px;
}
.introduce h3 {
  font-size: 20px;
}
.project img{
    width: 100%;
    height: 400px;
}
.media{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #818181;
}
.mediaDark{
    display: flex;
    justify-content: space-around;
    background-color: #1F1B24;
    padding: 20px;
}
.media .socialeachone h2 {
  color: black;
}
.media .socialeachone svg {
  font-size: 30px;
  color: white;
}
.media .socialeachone svg:hover {
  font-size: 30px;
  color: black;
}
.mediaDark .socialeachone h2 {
  color: black;
}
.mediaDark .socialeachone svg {
  font-size: 30px;
  color: white;
}
.mediaDark .socialeachone svg:hover {
  font-size: 30px;
  color: black;
}
.skills-section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
}
footer {
    background-color: rgba(210,77,87,255) !important;

}
footer .copyrightdetails {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
  font-weight: 600;
}


/* -- SVG CSS -- */
.rowv{
  width:100%;
  height:5vh;
  padding:0;
  margin:0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position:relative;
}
.svg-separator{
  display: block;
  background: 0 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9;
  -webkit-transform: translateY(-100%) translateY(2px);
  transform: translateY(-100%) translateY(2px);
  width: 100%;
}
.svg-separator.bottom{
  top: auto;
  bottom: 0;
}
.sep1{
  transform: translateY(-100%) translateY(2px) scale(1,1);
  transform-origin: top;
}