body{
  text-align:center;
  background-color: lightblue
}

a {
  text-decoration: none !important;
}

.darkH1{
  color: #1abc9c
}
.change {
      cursor: pointer;
      border: 5px solid #555;
      border-radius: 40%;
      width: 32px;
      height: 32px;
}
nav {
  display: flex;
  background-color: rgba(210,77,87,255);
  font-weight: 800;
}
nav a {
    color: white !important;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
}
nav a:hover {
    background-color: #ddd !important;
    border-radius: 10px;
    color: black !important;
}
.fancy {
  --b: 6px;   /* control the border thickness */
  --w: 80px;  /* control the width of the line*/
  --g: 15px;  /* control the gap */
  --c: #0B486B;
  width: fit-content;
  padding: 0 1em;
  line-height: 1.6em;
  border: 1px solid;
  color: #fff;
  background: 
    conic-gradient(from 45deg at left ,var(--c) 25%,#0000 0) 0,
    conic-gradient(from -135deg at right,var(--c) 25%,#0000 0) 100%;
  background-size: 51% 100%;
  background-origin: border-box;
  background-repeat: no-repeat;
  border-image: 
     linear-gradient(
       #0000      calc(50% - var(--b)/2),
       var(--c) 0 calc(50% + var(--b)/2),
       #0000    0) 
    1/0 var(--w)/calc(var(--w) + var(--g));
  margin-inline: auto;
  --w: 50vw;
  --c: #8A9B0F;
  --b:4px;
  --g:-5px
}

section.introduce {
  display: flex;
  padding: 0 30px;
}
section.introduce a {
  text-decoration: none;
  color: #121212;
}
section.introduce img {
  height: 200px;
  width: 200px;
}
section.introduce h2 {
  font-size: 25px;
}
section.introduce h3 {
  font-size: 20px;
}

.media{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.mediaDark{
    display: flex;
    justify-content: space-around;
    background-color: #1F1B24;
    padding: 20px;
}
.media .socialeachone h2 {
  color: black;
}
.media .socialeachone svg {
  font-size: 30px;
  color: white;
}
.media .socialeachone svg:hover {
  font-size: 30px;
  color: black;
}
.mediaDark .socialeachone h2 {
  color: black;
}
.mediaDark .socialeachone svg {
  font-size: 30px;
  color: white;
}
.mediaDark .socialeachone svg:hover {
  font-size: 30px;
  color: black;
}
.skills-section{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
}
.row{
  width:100%;
  height:5vh;
  padding:0;
  margin:0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position:relative;
}

/* -- SVG CSS -- */

.svg-separator{
  display: block;
  background: 0 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9;
  -webkit-transform: translateY(-100%) translateY(2px);
  transform: translateY(-100%) translateY(2px);
  width: 100%;
}
.svg-separator.bottom{
  top: auto;
  bottom: 0;
}
.sep1{
  transform: translateY(-100%) translateY(2px) scale(1,1);
  transform-origin: top;
}
footer {
  background-color: rgba(210,77,87,255);
  height: 100px;
}
